*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

header{
  width:100%;
  height:100vh;
  background: linear-gradient(50deg,gold,rgb(167, 90, 90));  
  transition: all .5s ease;
  background-size: 100% 100%;
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-align: center;
}

header h1{
  font-size: 2.5rem;
  padding: 20px 0px; 
  position:absolute;
  left:0;
  animation-name: textmoving;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes textmoving{
  from{left:0}
  to{left:60%}
}

.header{
  width:600px;
  height:auto;
  background: linear-gradient(20deg,rgb(167, 90, 90),gold,orange);  
  position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px rgb(240, 166, 97), 10px 10px rgb(218, 167, 110), 15px 15px rgb(235, 167, 21);
    overflow: hidden;  
}
