.addItem{
    height:100px;    
}

.addItem h1{
    width:100%;
    height:50px;
    padding: 5px 0px;
    font-size: 2.5rem;
    color: rgb(39, 35, 35);
    animation: todolist 5s infinite;
}

@keyframes todolist{
    0%{color:rgb(240, 231, 231);}
	30%{color: rgb(209, 28, 28);}
	50%{color: rgb(30, 194, 38);}
	75%{color: rgb(24, 156, 204);}
	100%{color: rgb(53, 32, 173);}
}

.addItemForm{
    padding: 4px 20px;    
}

.text{
    width:100%;
    height:40px;    
    display: block;
    margin-top: 50px;
    padding:0 20px;
}

::placeholder{
    color: black;
    opacity: 0.4;
    text-align: center;
    font-size: 1.2rem;
    font-family: cursive;
    padding:10px,10px
}