.addItem{
    height:40px;  
    background: whitesmoke;
}

.text{
    width:100%;
    height:50px;  
    font-size: 25px;
    color:rgb(90, 89, 89);
    display: block;
    padding:0 50px;
    border: none;
    outline: none;
}

.text select{
    outline: none;
}

::placeholder{
    color: black;
    opacity: 0.2;
    font-size: 1.8rem;
    font-family: italic;
}